* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0px !important;
}


// for ngx pagination
ol,
ul,
dl {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}
